In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv(r"C:\Users\Ahmed\Downloads\Jupyter files\Kaggle\Human developments/HDI.csv", encoding='latin-1')

In [3]:
df.head()

,Coverage,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Country,169.0,Afghanistan,0.302,0.307,0.316,0.312,0.307,0.331,0.335,...,0.472,0.477,0.489,0.496,0.500,0.500,0.502,0.506,0.509,0.511
1,Country,69.0,Albania,0.650,0.631,0.615,0.618,0.624,0.637,0.646,...,0.745,0.764,0.775,0.782,0.787,0.788,0.788,0.790,0.792,0.795
2,Country,91.0,Algeria,0.572,0.576,0.582,0.586,0.590,0.595,0.602,...,0.721,0.728,0.728,0.729,0.736,0.740,0.743,0.745,0.746,0.748
3,Country,36.0,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.837,0.836,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868
4,Country,148.0,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.517,0.533,0.544,0.555,0.565,0.572,0.578,0.582,0.582,0.581

In [4]:
df.drop(["Coverage", "Country"], inplace= True, axis = 1)

In [5]:
df.isnull().sum()

HDI Rank    15
1990        45
1991        45
1992        45
1993        45
1994        45
1995        41
1996        41
1997        41
1998        41
1999        38
2000        15
2001        15
2002        14
2003        13
2004        11
2005         4
2006         3
2007         3
2008         3
2009         3
2010         1
2011         1
2012         1
2013         1
2014         1
2015         1
2016         1
2017         0
2018         0
2019         0
dtype: int64

In [6]:
for i in df.columns:
    df[i].fillna(df[i].mean() , inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 31 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HDI Rank  204 non-null    float64
 1   1990      204 non-null    float64
 2   1991      204 non-null    float64
 3   1992      204 non-null    float64
 4   1993      204 non-null    float64
 5   1994      204 non-null    float64
 6   1995      204 non-null    float64
 7   1996      204 non-null    float64
 8   1997      204 non-null    float64
 9   1998      204 non-null    float64
 10  1999      204 non-null    float64
 11  2000      204 non-null    float64
 12  2001      204 non-null    float64
 13  2002      204 non-null    float64
 14  2003      204 non-null    float64
 15  2004      204 non-null    float64
 16  2005      204 non-null    float64
 17  2006      204 non-null    float64
 18  2007      204 non-null    float64
 19  2008      204 non-null    float64
 20  2009      204 non-null    float64
 21  2010      204 non-null    float64
 22  2011      204 non-null    float64
 23  2012      204 non-null    float64
 24  2013      204 non-null    float64
 25  2014      204 non-null    float64
 26  2015      204 non-null    float64
 27  2016      204 non-null    float64
 28  2017      204 non-null    float64
 29  2018      204 non-null    float64
 30  2019      204 non-null    float64
dtypes: float64(31)
memory usage: 49.5 KB

In [8]:
df.isnull().sum()

HDI Rank    0
1990        0
1991        0
1992        0
1993        0
1994        0
1995        0
1996        0
1997        0
1998        0
1999        0
2000        0
2001        0
2002        0
2003        0
2004        0
2005        0
2006        0
2007        0
2008        0
2009        0
2010        0
2011        0
2012        0
2013        0
2014        0
2015        0
2016        0
2017        0
2018        0
2019        0
dtype: int64

In [9]:
X = df.iloc[:,1:]
y = df.iloc[:,:1]

In [10]:
X.shape

(204, 30)

In [11]:
y.shape

(204, 1)

In [23]:
from sklearn.model_selection import cross_val_predict
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [25]:
cross_valid = cross_val_predict(reg, X, y, cv= 10)